@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html,
body {
    height: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

a,
a:visited {
    color: #05BEA4;
    transition: 1s color;
}

a:hover {
    color: black;
    text-decoration: none;
}

#content {
    min-height: 100%;
    margin-bottom: -100px;
}

#push,
#footer {
    height: 100px;
}

#footer {
    background: black;
}

#header {
    background: black;
}

h1 {
    color: white;
    text-transform: uppercase;
}

.logo {
    padding: 10px;
    text-align: center;
}

#interactivetos_website_websiteview label {
    padding: 10px;
}

#interactivetos_website_websiteview input {
    width: 80%;
}

#interactivetos_website_websiteview_save {
    background: #000000;
    display: inline-block;
}