@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html,
body {
    height: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#content {
    height: 100%;
    margin-bottom: -100px;
}

#push,
#footer {
    height: 100px;
}

#footer {
    background: black;
}

#header {
    background: black;
}

h1 {
    color: white;
    text-transform: uppercase;
}

.logo {
    padding: 10px;
}